*{
    cursor: crosshair;
}

body{
    display: flex;
    flex-direction: column;
}

/*how i do a shadow?*/

div{
    background-color: aquamarine;
    display: flex;
    align-self: center;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 30px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
    height: 50px;
}

div ul{
    list-style: none;
    display: inline-flex;
    gap: 30px;
    align-items: center;
    padding-right: 40px;
}

div ul li{
    display: flex;
}

div ul li a{
    color: black;
    text-decoration: none;
    display: flex;
}

div ul li:hover{
    background-color: rgba(27, 189, 54, 0.808);
    height: 18px;
    transition: 0.5s;
    border-radius: 15px;
    box-shadow: 5px 2px 10px rgba(0,0,0,0.3);
}

button{
    background-color: rgba(22, 231, 162, 0.486);
    color: rgb(71, 71, 71);
    border-radius: 30px;
}

button:active{
    background-color: rgba(17, 128, 91, 0.486);
    color: rgb(255, 255, 255);
    border-radius: 30px;
}